.parent-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-box {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50vw;
  text-align: center;
}

.right-box {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 81, 0, 0.591), rgba(32, 31, 31, 0.731)),
    url("../../../assets/images/login-box-background.png");
  background-size: contain;
}
