.p-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.l-box {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(6, 44, 71, 0.591), rgba(32, 31, 31, 0.731)),
    url("../../../assets/images/fish-farm.jpg");
  background-size: cover;
  text-align: center;
  filter: grayscale(100%);
}

.l-box:hover {
  background: linear-gradient(
      rgba(70, 185, 137, 0.591),
      rgba(32, 31, 31, 0.731)
    ),
    url("../../../assets/images/fish-farm.jpg");
  background-size: cover;
  filter: grayscale(0%);
}

.r-box {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 82, 107, 0.591), rgba(32, 31, 31, 0.731)),
    url("../../../assets/images/worker.jpg");
  background-size: cover;
  text-align: center;
  filter: grayscale(100%);
}

.r-box:hover {
  background: linear-gradient(
      rgba(70, 185, 137, 0.591),
      rgba(32, 31, 31, 0.731)
    ),
    url("../../../assets/images/worker.jpg");
  background-size: cover;
  filter: grayscale(0%);
}
